body{
margin:0;
font-family:verdana;
}
body.light  {
	transition: 0.4s;
  background-color: #ffffff;
}

body.dark {
	transition: 0.4s;
  background-color: #1a1a1a;
}

body.light .product p {
	transition: 0.4s;
	color: black;
}

body.dark .product p {
	transition: 0.4s;
	color:white;
}

body.darkmodestart{
	  background-color: #1a1a1a;
	  color:white;
}

body.darkmodestart .product p{
	  	color:white;
}
nav{
background-color:orange;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 20px;
}

#nav-right a:hover {
	background-color: #FF8C00;
}
#darkmode {
cursor: pointer;
color:black;
font-size:20px;
}

nav div{
display:flex;
}

nav a{
text-decoration:none;
padding:30px;
color:white;
}

.product {
    border: 1px solid orange;
    padding: 10px;
    width: 300px;
    height: 350px;
    text-align: center;
    position: relative;
}

.price-tag{
	position: relative;
	top: -20px;
	padding-left: 60px;
	color:black;
	width: 50%;
}


.product-name {
	color:black;
	position: relative;
	top: -15px;
	padding-left: 60px;
	width: 50%;

}

#darkmode:hover {
	transition: 0.3s;
	color: white;
}
#shoppingweb{
color:orange;
margin-left:20px;
}
#addproduct{
color:white;
background:orange;
border:none;
margin:20px;	
width:200px;
height:100px;
cursor:pointer;
position:relative;
top:430px;
left:-10px;
border:1px solid white;
transition: background-color 0.3s ease;
}

#addproduct:hover{
background-color:black;
}


#sidebar{
position:fixed;
top:0;
right:-250px;
width:210px;
height:100%;
background:orange;
padding:20px;
transition:0.5s;
}

#sidebar.active{
right:0;
}


#sidebar a{
display:block;
margin-bottom:15px;
text-decoration:none;
color:white;
width: 100%;
padding: 10px;
}

.soldpngn {
    display: none;
}

.soldpngs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}
#sidebar a:hover{
	color: black;
	transition: 0.6s;
}

#close-btn{
font-size:30px;
}

#products{
display:flex;
flex-wrap:wrap;
gap:20px;
padding:20px;
}

.product{
border:1px solid orange;
padding:10px;
width:300px;
height: 350px;
text-align:center;
}

.product img{
width:300px;
height: 250px;

}
#product-menu{
position:fixed;
top:25%;
left: 36%;
background:black;
padding:120px;
border:5px solid orange;
display:none;
flex-direction:column;
gap:10px;
color: white;
z-index:1000;
}

#product-menu.active{
display:flex;
}

#product-bought {
	position: fixed;
	display: none;
	color: white;
	z-index: 2000;
	left: 490px;
	width: 400px;
	border-radius: 16px;
	background-color: gray;
	height: 100px;
}


#continue {
	border-radius: 5px;
	background-color: black;
	border: 2px solid gray;
	color: white;
	font-size: 15px;
	bottom: 0px;
	left: 38%;
	width: 100px;
	height: 50px;
	position: absolute;
	border-radius: 20px;
	transition: 0.3s;
	cursor: pointer;

}

#continue:hover {
	background-color: #696969;
}

#continue:active{
	transition: 0s;
	background-color: black;
}
#product-bought.active {
	display: flex;
}

#buy-menu{
position:fixed;
top:25%;
left: 36%;
background:black;
display:none;
gap:10px;
color: white;
width: 400px;
height: 700px;
z-index:1000;
border-radius: 40px;
}


#buy-menu.active{
	display: flex;
}

#BP-close-btn{
	color:white;
	text-decoration: none;
	width: 18px;
	height: 23px;
	margin: 20px;
	font-size: 20px;
	z-index: 2;
}



#confirmbuy {
	width: 300px;
	height: 50px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	bottom: 20px;
	left: 50px;
	position: absolute;
	background-color: limegreen;
	color: white;
	font-size: 25px;
	font-family: verdana;
	z-index: 1000;

}

#confirmbuy:active {
	background-color: limegreen;
}

#confirmbuy:hover {
	transition: 0.3s;
	background-color: green;
}


.product.clone {
	position: absolute;
	top: 150px;
	margin-left: 40px;
}
.product.clone .price-tag{
	color: white;
}

.product.clone .product-name{
	color: white;
}
#confirmTxt {
	top: 20px;
	width: 100%;
	padding:20px;
	position: absolute;
}


#product-menu input{
padding:30px;
font-size: 20px;
background: black;
color:white;
text-decoration-color: white;
	
}

#create-product{
background:orange;
color:white;
border:none;
padding:10px;
cursor:pointer;
}

#AP-close-btn {
	text-decoration: none;
	color: white;
	width: 12px;
	font-size: 30px;

}

.buybtn.sold {
	z-index: -100;
}

.buybtn {
	border: none;
	color: white;
	background-color: limegreen;
	cursor: pointer;
	border-radius: 10px;
	width: 80px;
	height: 50px;
	position: relative;
	float: right;
	z-index: 999;
	top: 305px;
}

.buybtn:hover{
	background-color: green;
}
.buybtn:active{
	background-color: limegreen;
}

#product-menu input {
	position: relative;
	left: 2px;
	border: 1px solid orange;
}

.RP {
	 border: 1px solid red;
	 background-color: red;
	 color: white;
	 cursor: pointer;
	 float: left;
	 margin: 5px;
	 z-index: 1;
}

.RP:hover {
	background-color: #darkred;
}